@model CreateUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM Kayıt Paneli</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/RegisterIndex/registerIndex.css">
</head>

<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>CRM Sistemi</h2>
                <p class="text-1">CRM projemiz üzerinden işlemlerinizi gerçekleştirebilmek için hızlı ve güvenli bir kayıt işlemi yapın.</p>
                <p class="text-2">Zaten bir hesabınız varsa, <a href="/Login/Index/">buradan giriş yapabilirsiniz.</a></p>
            </div>
            <form id="registerForm" class="form-detail" method="post" action="/Register/Index">
                <h2>Kayıt Formu</h2>
                <input type="hidden" name="Token" value="@Model.Token" />
                <input type="hidden" name="RoleId" value="@Model.RoleId" />
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-row-1">
                            <label for="first_name">Adınız</label>
                            <input type="text" asp-for="Name" id="first_name" class="input-text" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-row-1">
                            <label for="last_name">Soyadınız</label>
                            <input type="text" asp-for="Surname" id="last_name" class="input-text" required>
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row-1">
                        <label for="your_email">Email Adresi</label>
                        <input type="email" asp-for="Email" id="your_email" class="input-text" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-row-1">
                        <label for="your_username">Kullanıcı Adınız</label>
                        <input type="text" asp-for="Username" id="your_username" class="input-text" required>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-row-1">
                            <label for="password">Şifre</label>
                            <div style="position: relative;">
                                <input type="password" asp-for="Password" id="password" class="input-text" required>
                                <span class="toggle-password" id="toggle-password">👁️</span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <ul class="requirements">
                                <li id="length" class="invalid">En az 8 karakter</li>
                                <li id="uppercase" class="invalid">En az 1 büyük harf</li>
                                <li id="number" class="invalid">En az 1 sayı</li>
                                <li id="special" class="invalid">En az 1 özel karakter</li>
                            </ul>
                        </div>
                        <div class="form-row-1">
                            <label for="confirm_password">Şifre Tekrar</label>
                            <div style="position: relative;">
                                <input type="password" asp-for="ConfirmPassword" id="confirm_password" class="input-text" required>
                                <span class="toggle-password" id="toggle-confirm-password">👁️</span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row-last">
                        <button type="submit" class="register" style="height:35px" id="registerButton" disabled>Kayıt Ol</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @Html.Partial("~/Views/PartialViews/_RegisterIndexScriptsPartial.cshtml")

</body>
</html>