<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/images/logos/manlogo.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">Error</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <p class="text-left">
                An error occurred while loading user data.
            </p>
        </li>
    </ul>
</li>